<div class="box">
  <article class="media">
    <div class="media-content">
      <div class="content">
        <p>
          <img src="https://icon-library.net/images/profile-png-icon/profile-png-icon-21.jpg" width="16" height="16" alt="PIC">

          <strong><%= comment.name %></strong>
          <br>
          <%= comment.comment %>
        </p>
      </div>
    </div>

    <% if current_user && current_user.admin %>
      <%= link_to 'Delete', [comment.post, comment], method: :delete, class: "button is-danger" %>
    <% end %>

  </article>
</div>
