<div class="container">
<%= simple_form_for @post do |f| %>

  <!-- title of the post -->

  <div class="field">
    <div class="control">
      <%= f.input :title, input_html: { class: 'input' }, wrapper: false, error: 'You must enter a title', label_html: { class: 'label' } %>
    </div>
  </div>


  <!-- content of the post -->
  <div class="field">
    <div class="control">
      <%= f.input :content, input_html: { class: 'textarea' }, wrapper: false, label_html: { class: 'label' }  %>
    </div>
  </div>
  <%= f.button :submit, class: "button is-black" %>
<% end %>
</div>
