<div class="container">
  <br>
  <h1 class="title" style="font-family: Helvetica-Neue, Arial, Sans-Serif; color:Black; font-size: 64px;">
      <strong>Create a New Post:</strong>
  </h1>
  <hr>
</div>
<%= render 'form'%>
